.home-grid{
    display: grid;
}

nav{
    display: flex;
    padding-left: 0.5%;
    padding-right: 0px;
    margin-bottom: 1px;
    border-bottom-color: black;
}

a.current{
    padding-bottom: 0.1em;
    border-bottom-color: rgb(231, 143, 143);
    border-bottom-width: 0.4em;
    font-weight: bold;
    color:rgb(175, 2, 2)
}

a:hover{
    border-bottom-color: rgb(235, 163, 163);
    border-bottom-width: 0.3em;
    padding-bottom: 0.1em;
    background-color: rgb(255, 236, 212);
    font-weight: bold;
}

a{
    flex: 1;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 221, 221);
    color:rgb(181, 78, 64);
    font-size:20px;
    font-family: Georgia;
}

img{
    max-width: 100%;
    margin-left:40px;
    margin-bottom:5px;
}

img:hover{
    filter: opacity(75%);
}

li{
    margin-bottom: 4px;
    padding: 10px;
    background-color: bisque;
    color: black;
}

#car_game_design{
    padding-left: 0px;
    margin-left: 0px;
}

section.subgrid{
    display: grid;
    grid-template-columns: 135px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    margin: 0px;
    padding: 0px;    
}

.learning_rate_container{
    display: grid;
    padding-left: 10px;
}

#action1{
    grid-column: 1;
    grid-row: 1;
    font-family: Georgia;
    font-style: bold;
    font-size: 20px;
}

#action2{
    grid-column: 1;
    grid-row: 2;
    font-family: Georgia;
    font-style: bold;
    font-size: 20px;
}

#action3{
    grid-column: 1;
    grid-row: 3;
    font-family: Georgia;
    font-style: bold;
    font-size: 20px;
}

#action4{
    grid-column: 1;
    grid-row: 4;
    font-family: Georgia;
    font-style: bold;
    font-size: 20px;
}

#action5{
    grid-column: 1;
    grid-row: 5;
    font-family: Georgia;
    font-style: bold;
    font-size: 20px;
}

dd{

    grid-column: 1;
    grid-row: 1 /-1;
}

dt.column2{
    grid-column: 2;
}

dt.column3{
    grid-column: 3;
}

#Start-Button
{
    margin-top:10px;
    height: 75px;
    width: 200px;
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
    display: center;
    background-color: rgb(228, 56, 56);
    color:azure;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(229, 133, 149);
}   

#Start-Button:hover{
    background-color: rgb(255, 236, 212);
    color: rgb(62, 12, 12);
    font-style: bold;
}

#learningRate{
    padding-top:10px;
    margin: 10px;
    font-size: 25px;
    text-align: center;
    height: 15px;
    display: grid;
    padding-bottom: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: 0.5em;
    width:190px;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 81, 81);
}

.lr_slider{
    /* color:blue; */
    display: subgrid;
    margin-left: 10px;
    padding-left:10px;
    width: 30px;

}

#current_state{
    padding-left:20px;
    padding-top: 0px;
    margin-top: 0px;
    opacity: 70%;
}

h3.heading_current_state{
    font-size: 30px;
    font-family: 'Trebuchet MS';
    color: rgb(128, 30, 30);
    /* background-color: pink; */
    margin-top: 0px;
    padding: 10px;
    margin-bottom:15px;
    /* box-shadow: 5px 5px 5px GREY; */
}

body{
    /* background-color: rgb(0, 0, 0); */
    color:rgb(0, 0, 0);
    text-decoration-color: black;
    background-image: linear-gradient(white, pink);
}

h1{
    color: rgb(91, 63, 63);
    background-color: rgb(248, 207, 204);
    border-bottom: 15px solid rgb(246, 246, 246);
    font-size: 60px;
    text-align: center;
    margin:0%;
    padding:0px;
}

h2{
    margin: 0px;
    color: black;
}

h3{
    color: black;
}

label{
    color:black;
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;;
    background-color: rgb(55, 121, 227);
    color: white;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
  }
  
  tr:nth-child(even) {
    background-color: #c4c4c4;
  } */

/* #Qtable{
    background-color: azure;
    border:20px solid pink;
    color:black;
} */

/* #empty-space{
    width:100px;
    height:100px;
} */

/* #Reward_table{
    border:5px solid rgb(0, 191, 255);
    color:white;
    background-color: black;
    display: grid;
} */